
<div class="container d-flex justify-content-center mt-5">

  <div class="card text-bg-dark border-color-gold">

    <div class="card-header border-color-gold text-center">
      <h2>Create</h2>
      <p>Add new Person</p>
    </div>

    <div class="container mt-4 card-body">

        <form  [formGroup]="createPersonFormGroup">

          <div class="mb-3">
            <label for="email" class="form-label text-bg-dark">Email*</label>
            <input id="email" type="text" class="form-control text-bg-dark" placeholder="Email" formControlName="email" [ngClass]="{'error-input': hasError('email','required')}">
            <div class="error-input" *ngIf="hasError('email','required')">Email is required</div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="name" class="form-label text-bg-dark">Name*</label>
              <input id="name" class="form-control text-bg-dark" formControlName="name" type="text" placeholder="Name" [ngClass]="{'error-input': hasError('name','required')}">
              <div class="error-input" *ngIf="hasError('name','required')">Name is required</div>
            </div>
            <div class="col">
              <label for="surname" class="form-label text-bg-dark">Surname*</label>
              <input id="surname" class="form-control text-bg-dark" type="text" placeholder="Surname" formControlName="surname" [ngClass]="{'error-input': hasError('surname','required')}">
              <div class="error-input" *ngIf="hasError('surname','required')">Surname is required</div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="password" class="form-label text-bg-dark">Password*</label>
              <input id="password" class="form-control text-bg-dark" type="text" placeholder="Password" formControlName="password" [ngClass]="{'error-input': hasError('password','required')}">
              <div class="error-input" *ngIf="hasError('password','required')">Password is required</div>
              <div class="error-input" *ngIf="hasError('password','passwordComplexity')">Password is not safe</div>
            </div>

            <div class="col">
              <label for="confirm_password" class="form-label text-bg-dark">Confirm Password*</label>
              <input id="confirm_password" class="form-control text-bg-dark" type="text" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{'error-input': hasError('confirmPassword','required')}">
              <div class="error-input" *ngIf="createPersonFormGroup.hasError('passwordMismatch')">Password not mach</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="phone_number" class="form-label text-bg-dark ">Phone Number</label>
            <input id="phone_number" class="form-control text-bg-dark " placeholder="Phone Number" formControlName="phoneNumber" [ngClass]="{'error-input': hasError('phoneNumber','required')}">
            <div class="error-input" *ngIf="hasError('phoneNumber','required')">Phone number is required</div>
          </div>

          <div class="mb-3">
            <label for="rola" class="form-label text-bg-dark">Role*</label>
            <select id="rola" name="rola" class="form-select text-bg-dark" formControlName="role" [ngClass]="{'error-input': hasError('role','required')}">
              <option value="" disabled selected>Select a role</option>
              <option value="CUSTOMER">CUSTOMER</option>
              <option value="ADMIN">ADMIN</option>
            </select>
            <div class="error-input" *ngIf="hasError('role','required')">Role is required</div>
          </div>

          <div class="card-footer border-color-gold">
            <button  class="btn btn-AU-gold w-100"  [disabled]="!createPersonFormGroup.valid" (click)="createPerson()">Register</button>
          </div>

        </form>
    </div>
  </div>
</div>