<body class="bg-color">

<header class="bg-image-garage bg-image-page-style">
  <div class="overlay d-flex align-items-center justify-content-center text-center">
    <div class="container">
      <h1 class="display-4 text-white">WELCOME</h1>
      <a href="#about" class="btn btn-AU text-color-white">About Us</a>
    </div>
  </div>
</header>

<section id="about" class="py-5">
  <div class="container container-style">
    <h2 class="text-center mb-4">About Us</h2>
    <div class="row">
      <div class="col-md-6">
        <p>In mattis dapibus magna pretium hendrerit. Curabitur cursus urna non imperdiet porttitor.
          Vivamus sit amet maximus ante. Quisque convallis eget tortor sed finibus. Sed nec est mi.
          Morbi ullamcorper, massa in blandit vehicula, tellus augue sodales arcu, aliquet finibus ligula ligula ut nibh.
          Phasellus placerat scelerisque efficitur.
          In condimentum ligula id neque tincidunt, quis blandit ante rhoncus.</p>
      </div>
      <div class="col-md-6">
        <p>Sed accumsan, urna ut fermentum venenatis, risus libero aliquam massa, eu semper magna libero id enim. Vivamus eget felis vel neque imperdiet tincidunt.
          Phasellus placerat scelerisque efficitur.
          In condimentum ligula id neque tincidunt, quis blandit ante rhoncus.</p>
      </div>
    </div>
  </div>

</section>

<section class="bg-image-garage-car bg-image-page-style" id="car">
  <div class="overlay d-flex align-items-center justify-content-center text-center">
    <div class="container">
      <h2 class="display-4 text-white">ENTRY TO OUR CAR GARAGE</h2>
      <p class="lead text-white"></p>
      <a href="carPage.html" class="btn btn-AU text-color-white ">ENTERY</a>
    </div>
  </div>
</section>

<section id="service" class="py-5">
  <div class="container container-style">
    <h2 class="text-center mb-4">Our Service</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <h3>QUALITY</h3>
        <p>Morbi ullamcorper, massa in blandit vehicula, tellus augue sodales arcu, aliquet finibus ligula ligula ut nibh.
          Phasellus placerat scelerisque efficitur.
          In condimentum ligula id neque tincidunt, quis blandit ante rhoncus..</p>
      </div>
      <div class="col-md-4">
        <p>Etiam dictum, metus nec lobortis ultrices, risus nunc interdum leo, eget aliquam metus diam non mi. Curabitur molestie quis justo nec luctus. Donec convallis tortor quis augue hendrerit, eu pharetra lorem mattis. Mauris vitae dignissim augue. Donec pharetra erat risus, quis fringilla libero blandit vel. Praesent posuere laoreet malesuada. Etiam auctor mauris a mi porta, vitae bibendum arcu rhoncus.
          Nam varius tortor sed purus luctus, quis pellentesque neque fringilla. Cras sollicitudin egestas arcu, in interdum tortor maximus vel. Aenean luctus rutrum libero eu tristique.</p>
      </div>
      <div class="col-md-4">
        <h3>Fast & Reliable</h3>
        <p>Cras sollicitudin egestas arcu, in interdum tortor maximus vel. Aenean luctus rutrum libero eu tristique.
          Maecenas vitae varius justo, sit amet suscipit lacus. Vivamus faucibus dolor sed libero iaculis iaculis. In at lorem et odio aliquam feugiat a ut orci. Nam cursus nisi mollis magna aliquam volutpat.</p>
      </div>
    </div>
  </div>
</section>


<footer class="py-4 bg-color bg-dark text-color-gold text-center ">
  <p>© 2024s.</p>
</footer>
</body>

