<div>
  <h1>Person</h1>
  <div class="container">
    <div class="form">
      <label for="USER_NAME">
        <input type="text" name="username" id="USER_NAME" placeholder="Username" [(ngModel)]="email" required="required">
      </label>
    </div>
    <button (click)="getPersonByEmail()">Search</button>
    <div>
      {{onePerson| json}}
    </div>

    <h1>Create a Person</h1>
    <form id="personForm">
      <label for="email">Email</label>
      <input type="email" id="EMAIL" name="email" [(ngModel)]="createdEmail" required>

      <label for="name">First Name</label>
      <input type="text" id="name" name="name"  [(ngModel)]="createdName" required>

      <label for="surname">Last Name</label>
      <input type="text" id="surname" name="surname" [(ngModel)]="createdSurname" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="createdPassword" required>


      <label for="rola">Rola</label>
      <input type="text" id="rola" name="rola" [(ngModel)]="createdRole" required>

      <label for="phoneNumber">Phone Number</label>
      <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{10}" required placeholder="1234567890" [(ngModel)]="createdPhoneNumber">

      <button type="submit" class="btn" (click)="createPerson()">Create Person</button>
    </form>
  </div>
</div>


<div class="table-container">
  <table border="1" class="user-table table table-hover">
    <thead>
    <tr>
      <th>Email</th>
      <th>Meno</th>
      <th>Priezvisko</th>
      <th>Akcie</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.email }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>
        <button (click)="getPersonInfo(user)">Get</button>
        <button (click)="deletePeson(user)">Delete</button>

      </td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="users.length === 0">Nie sú dostupné žiadne údaje.</p>
</div>


<button (click)="logout()">Logout</button>