<div class="container d-flex justify-content-center mt-5">
  <div class="card text-bg-dark border-color-gold">

    <div class="card-header text-bg-dark border-color-gold text-center ">
      <h2>Log in</h2>
      <p>Welcome back! Log in to your account.</p>
    </div>

    <div class="container mt-4 card-body">
      <form>
        <div class="row mb-3">
          <label for="email" class="form-label text-bg-dark">E-mail address</label>
          <input type="email" class="form-control text-bg-dark" name="username" id="email" placeholder="Your email address" [ngClass]="hasErrors ? 'error' : ''" [(ngModel)]="username" required>
        </div>
        <div class="row mb-3">
          <label for="password" class="form-label text-bg-dark">Password</label>
          <input type="password" class="form-control text-bg-dark" name="password" id="password" placeholder="Your password" [ngClass]="hasErrors ? 'error' : ''" [(ngModel)]="password" required>
        </div>
        <div class="error-input" *ngIf="hasErrors" >Invalide Email or Password</div>

      </form>
    </div>

    <div class="card-footer border-color-gold">
      <button class="btn btn-AU-gold w-100" *ngIf="isLoginRendered" [disabled]="isLogoutDisabled" (click)="login()">Prihlásiť sa</button>
      <button class="btn btn-AU-gold w-100 " (click)="register()">Registracia</button>
    </div>
  </div>
</div>
