<div class="container">
  <div class="form">
    <label for="USER_NAME">
      <input type="text" name="username" id="USER_NAME" placeholder="Username" [ngClass]="hasErrors ? 'error' : ''" [(ngModel)]="username">
    </label>

    <label for="PASSWORD">
      <input type="password" name="password" id="PASSWORD" placeholder="Password" [ngClass]="hasErrors ? 'error' : ''" [(ngModel)]="password">
    </label>
  </div>

  <button type="button" class="btn btn-primary" *ngIf="isLoginRendered" [disabled]="isLogoutDisabled" (click)="login()">Login</button>
  <button type="button" class="btn btn-primary" *ngIf="isLogoutDisabled"  (click)="logout()">Logout</button>

</div>