<!-- niektoré komponenty boli prevzané s bootstrapu a upravené pre moje potreby -->
<div class="container border mt-5">
  <div class="login-container">
    <div class="login-header text-center">
      <h2>Prihlásenie</h2>
      <p>Vitajte späť! Prihláste sa, prosím, do svojho účtu.</p>
    </div>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">E-mailová adresa</label>
        <input type="username" class="form-control" name="username" id="email" placeholder="Zadajte svoj e-mail" [ngClass]="hasErrors ? 'error' : ''" [(ngModel)]="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Heslo</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Zadajte svoje heslo" [ngClass]="hasErrors ? 'error' : ''" [(ngModel)]="password" required>
      </div>
      <button type="submit" class="btn btn-primary w-100 " *ngIf="isLoginRendered" [disabled]="isLogoutDisabled" (click)="login()">Prihlásiť sa</button>
      <button type="submit" class="btn btn-primary w-100 " (click)="register()">Registracia</button>
    </form>
  </div>
</div>
