<div class="container d-flex justify-content-center mt-5">
  <div class="container mt-5 ">
    <div *ngIf="showInfoList" class="card border-color-gold">
      <div class="card-header text-bg-dark border-color-gold ">
        <h3 class="card-title"> {{ oneCustmerOrder.id || 'Not Available'}} {{ oneCustmerOrder.email || 'Not Available'}}  details</h3>
      </div>
      <div class="card-body text-bg-dark border-color-gold ">
        <ul class="list-group list-group-flush border-color-gold ">
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>ID:</strong> {{ oneCustmerOrder.id || 'Not Available'}}</li>
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>Email:</strong> {{ oneCustmerOrder.email || 'Not Available'}}</li>
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>Price:</strong> {{ oneCustmerOrder.price||'Not Available' }}</li>
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>Create Date:</strong> {{ oneCustmerOrder.dateofcreate || 'Not Available' }}</li>
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>Date:</strong> {{ oneCustmerOrder.date || 'Not Available' }}</li>
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>Service Id:</strong> {{ oneCustmerOrder.serviceId || 'Not Available' }}</li>
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>Vehicle Plate Number:</strong> {{ oneCustmerOrder.vehiclePlateNumber || 'Not Available' }}</li>
        </ul>
      </div>
      <div class="card-footer text-bg-dark">
        <button type="button" class="btn btn-AU-gold w-100 " (click)="hideDetails()">HIDE</button>
      </div>
    </div>

    <div class="container mt-5"  *ngIf="showUpdateForm">
      <div class="card text-bg-dark border-color-gold">

        <div class="card-header text-center border-color-gold">
          <h2>Update</h2>
          <p>Update Customer Reservation</p>
        </div>

        <div class="card-body text-bg-dark">
          <form  [formGroup]="updateCustomerOrderFormGroup">
            <div class="row mb-3">
              <div class="col">
                <label for="price" class="form-label text-bg-dark">Price*</label>
                <input id="price" class="form-control text-bg-dark" formControlName="price" type="text" placeholder="Price" [ngClass]="{'error-input': hasError('email','required')}">
                <div class="error-input" *ngIf="hasError('email','required')">Name of service is required</div>
              </div>

              <div class="col">
                <label for="vehiclePlateNumber" class="form-label text-bg-dark">Vehicle Plate Number*</label>
                <input id="vehiclePlateNumber" class="form-control text-bg-dark" formControlName="vehiclePlateNumber" type="text" placeholder="Email" [ngClass]="{'error-input': hasError('email','required')}">
                <div class="error-input" *ngIf="hasError('vehiclePlateNumber','required')">Name of service is required</div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <form>
                  <div class="mb-3">
                    <label for="datePicker" class="form-label text-bg-dark">Please choose dates*:</label>
                    <input
                      type="date"
                      id="datePicker"
                      class="form-control text-bg-dark"
                      [(ngModel)]="selectedDate"
                      name="date"
                      required>
                  </div>
                  <div>
                    <p>Choose date: {{ selectedDate }}</p>
                  </div>
                </form>
              </div>

              <div class="col">
                <label for="serviceId" class="form-label text-bg-dark">Service Id*</label>
                <input id="serviceId" class="form-control text-bg-dark" formControlName="serviceId" type="text" placeholder="Service Id" [ngClass]="{'error-input': hasError('serviceId','required')}">
                <div class="error-input" *ngIf="hasError('serviceId','required')">Name of service is required</div>
              </div>
            </div>
          </form>
        </div>

        <div class="card-footer border-color-gold">
          <button  class="btn btn-AU-gold w-100"  [disabled]="!updateCustomerOrderFormGroup.valid" (click)="updateCustomerService()">Save</button>
        </div>
      </div>
    </div>



    <div *ngIf="showOrderTable" class="container mt-5 ">
      <div class="table-container table-responsive border-color-gold">
        <table border="1" class="table table-striped  table-hover table-dark border-color-gold">
          <thead>
          <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of custmerOrders">
            <td>{{ order.id }}</td>
            <td>{{ order.email }}</td>
            <td>{{ order.date }}</td>
            <td>
              <div class="btn-group" *ngIf="!deleteConfirm">
                <button type="button" class="btn btn-info" (click)="getCustomerOrderInfo(order)">Info</button>
                <button *ngIf="isAdmin()" type="button" class="btn btn-primary" (click)="updateCustomerServiceFormShow(order.id)">Update</button>
                <button *ngIf="!deleteConfirm" type="button" class="btn btn-danger" (click)="deleteConfirmation(true)">Delete</button>
              </div>
              <div *ngIf="deleteConfirm">
                <button *ngIf="deleteConfirm" type="button" class="btn btn-primary" (click)="deleteOrderService(order)">YES</button>
                <button type="button" class="btn btn-danger" (click)="deleteConfirmation(false)">NO</button>
              </div>
          </tr>
          </tbody>
        </table>
        <p *ngIf="custmerOrders.length === 0">Nie sú dostupné žiadne údaje.</p>
      </div>
    </div>
  </div>
</div>