
<div class="container mt-5 ">
  <div class="card text-bg-dark border-color-gold">

    <div class="card-header text-center border-color-gold">
      <h2>Create</h2>
      <p>Create Customer Order</p>
    </div>

    <div class="card-body text-bg-dark">
      <form  [formGroup]="createCustomerOrderFormGroup">
        <div class="row mb-3">
          <div *ngIf="isAdmin()" class="col">
            <label for="email" class="form-label text-bg-dark">Email of Customer</label>
            <input id="email" class="form-control text-bg-dark" formControlName="email" type="text" placeholder="Email" [ngClass]="{'error-input': hasError('email','required')}">
            <div class="error-input" *ngIf="hasError('email','required')">Email of Customer is required</div>
          </div>

          <div class="col">
            <label for="vehiclePlateNumber" class="form-label text-bg-dark">Vehicle Plate Number</label>
            <input id="vehiclePlateNumber" class="form-control text-bg-dark" formControlName="vehiclePlateNumber" type="text" placeholder="Email" [ngClass]="{'error-input': hasError('vehiclePlateNumber','required')}">
            <div class="error-input" *ngIf="hasError('vehiclePlateNumber','required')">Vehicle Plate Numbe is required</div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <form>
              <div class="mb-3">
                <label for="datePicker" class="form-label text-bg-dark">Please choose dates:</label>
                <input
                  type="date"
                  id="datePicker"
                  class="form-control text-bg-dark"
                  [(ngModel)]="selectedDate"
                  name="date"
                  required>
              </div>
              <div>
                <p>Choose date: {{ selectedDate }}</p>
              </div>
            </form>
          </div>

          <div class="col">
            <label for="serviceId" class="form-label text-bg-dark">Service Id</label>
            <input id="serviceId" class="form-control text-bg-dark" formControlName="serviceId" type="text" placeholder="Service Id" [ngClass]="{'error-input': hasError('serviceId','required')}">
            <div class="error-input" *ngIf="hasError('serviceId','required')">Name of service is required</div>
          </div>
        </div>
      </form>
    </div>

    <div class="card-footer border-color-gold">
      <button  class="btn btn-AU-gold w-100"  [disabled]="!createCustomerOrderFormGroup.valid" (click)="createCustomerService()">Create</button>
    </div>
  </div>
</div>
