<div class="container d-flex justify-content-center mt-5">
  <div class="container mt-5 ">
    <div *ngIf="showInfoList" class="card border-color-gold">
      <div class="card-header text-bg-dark border-color-gold ">
        <h3 class="card-title"> {{ oneVehicle.plateNumber || 'Not Available'}} {{ oneVehicle.model || 'Not Available'}}  details</h3>
      </div>
      <div class="card-body text-bg-dark border-color-gold ">
        <ul class="list-group list-group-flush border-color-gold ">
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>PlaceNumber:</strong> {{ oneVehicle.plateNumber || 'Not Available'}}</li>
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>Email:</strong> {{ oneVehicle.email || 'Not Available'}}</li>
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>Type:</strong> {{ oneVehicle.type||'Not Available' }}</li>
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>Engine:</strong> {{ oneVehicle.engine || 'Not Available' }}</li>
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>Make:</strong> {{ oneVehicle.make || 'Not Available' }}</li>
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>Model:</strong> {{ oneVehicle.model || 'Not Available' }}</li>
          <li class="list-group-item list-group-item-action text-bg-dark border-color-gold"><strong>Color:</strong> {{ oneVehicle.color || 'Not Available' }}</li>
        </ul>
      </div>
      <div class="card-footer text-bg-dark  ">
        <button type="button" class="btn btn-AU-gold w-100 " (click)="hidePersonDetails()">HIDE</button>
      </div>
    </div>

    <div class="container mt-5 " *ngIf="showUpdateForm">
      <div class="card text-bg-dark border-color-gold">

        <div class="card-header text-center border-color-gold">
          <h2>Update</h2>
          <p>Update vehicle</p>
        </div>

        <div class="card-body text-bg-dark">
          <form  [formGroup]="updateVehicleFromGroup">
            <div class="row mb-3">
              <div class="col">
                <label for="plateNumber" class="form-label text-bg-dark">Plate Number*</label>
                <input id="plateNumber" class="form-control text-bg-dark" formControlName="plateNumber" type="text" placeholder="Plate Number" [ngClass]="{'error-input': hasError('plateNumber','required')}">
                <div class="error-input" *ngIf="hasError('plateNumber','required')">Plate Number is required</div>
              </div>

              <div *ngIf="isAdmin()" class="col">
                <label for="email" class="form-label text-bg-dark">Email*</label>
                <input id="email" class="form-control text-bg-dark" type="text" placeholder="Email" formControlName="email" [ngClass]="{'error-input': hasError('email','required')}">
                <div class="error-input" *ngIf="hasError('email','required')">Email is required</div>
              </div>
            </div>

          <div class="row mb-3">
            <div class="col">
              <label for="type" class="form-label text-bg-dark">Type*</label>
              <select id="type" name="rola" class="form-select text-bg-dark" formControlName="type" [ngClass]="{'error-input': hasError('type','required')}">
                <option value="" disabled selected>Select a role</option>
                <option value="CAR">CAR</option>
                <option value="BIKE">BIKE</option>
                <option value="OTHER">OTHER</option>
              </select>
              <div class="error-input" *ngIf="hasError('type','required')">Type is required</div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="engine" class="form-label text-bg-dark">Engine</label>
              <input id="engine" class="form-control text-bg-dark" formControlName="engine" type="text" placeholder="Engine" [ngClass]="{'error-input': hasError('engine','required')}">
              <div class="error-input" *ngIf="hasError('engine','required')">Engine is required</div>
            </div>

            <div class="col">
              <label for="make" class="form-label text-bg-dark">Make</label>
              <input id="make" class="form-control text-bg-dark" type="text" placeholder="Make" formControlName="make" [ngClass]="{'error-input': hasError('make','required')}">
              <div class="error-input" *ngIf="hasError('make','required')">Make is required</div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="model" class="form-label text-bg-dark">Model</label>
              <input id="model" class="form-control text-bg-dark" formControlName="model" type="text" placeholder="Engine" [ngClass]="{'error-input': hasError('model','required')}">
              <div class="error-input" *ngIf="hasError('model','required')">Mode Number is required</div>
            </div>

            <div class="col">
              <label for="color" class="form-label text-bg-dark">Color</label>
              <input id="color" class="form-control text-bg-dark" type="text" placeholder="Color" formControlName="color" [ngClass]="{'error-input': hasError('color','required')}">
              <div class="error-input" *ngIf="hasError('make','required')">color is required</div>
            </div>
          </div>

          </form>
        </div>

        <div class="card-footer border-color-gold">
          <button  class="btn btn-AU-gold w-100"  [disabled]="!updateVehicleFromGroup.valid" (click)="updateVehicle()">Update</button>
        </div>
      </div>
    </div>

    <div *ngIf="showVehicleTable" class="container mt-5 ">
      <div class="table-container table-responsive border-color-gold">
        <table border="1" class="table table-striped  table-hover table-dark border-color-gold">
          <thead>
          <tr>
            <th>Plate Number</th>
            <th>Email</th>
            <th>Model</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let vehicle of vehicles">
            <td>{{ vehicle.plateNumber }}</td>
            <td>{{ vehicle.email }}</td>
            <td>{{ vehicle.model }}</td>
            <td>
              <div class="btn-group" *ngIf="!deleteConfirm">
                <button type="button" class="btn btn-info" (click)="getVehicleInfo(vehicle)">Info</button>
                <button type="button" class="btn btn-primary" (click)="updateVehicleFormShow(vehicle.plateNumber)">Update</button>
                <button *ngIf="!deleteConfirm" type="button" class="btn btn-danger" (click)="deleteConfirmation(true)">Delete</button>
              </div>
              <div *ngIf="deleteConfirm">
                <button *ngIf="deleteConfirm" type="button" class="btn btn-primary" (click)="deleteVehicle(vehicle)">YES</button>
                <button type="button" class="btn btn-danger" (click)="deleteConfirmation(false)">NO</button>
              </div>
          </tr>
          </tbody>
        </table>
        <p *ngIf="vehicles.length === 0">Nie sú dostupné žiadne údaje.</p>
      </div>
    </div>
  </div>
</div>