
/* BUTTONS */

.btn-AU-gold {
    background: transparent;
    border: rgb(218,165,32) 2px solid;
    color: white;
}

.btn-AU-gold:hover {
    background: rgb(218,165,32);
}

.btn-AU {
    background: transparent;
    border: #4e0076 2px solid;
}

.btn-AU:hover {
    background: #4e0076;
    border-color: #4e0076;
    color: white;
}

/* COLORS */

.bg-color {
    background-color: gray;
}

.bg-color-purple {
    background: rgb(78, 0, 118, 0.9);
}

.bg-color-gold {
    background: rgb(218,165,32);
}

.text-color-gold {
    color: rgb(218,165,32);
}

.text-color-white {
    color: white;
}

.border-color-gold {
    border-color: rgb(218,165,32);
}

.border-color-purple {
    border-color: rgb(78, 0, 118);
}

/* IMAGES STYLES */

.bg-image-page-style {
    height: 100vh;
    position: relative;
}

/* IMAGES */

.bg-image-car {
    background: url("https://r4.wallpaperflare.com/wallpaper/670/772/1012/mercedes-benz-mercedes-amg-gt-car-mercedes-sl-65-amg-wallpaper-a9af59fc0d818da8d98229d6fb2eb8d8.jpg") no-repeat center center/cover;
    background-attachment: fixed;
}

.bg-image-garage-car {
    background: url("https://r4.wallpaperflare.com/wallpaper/407/958/485/amg-benz-cls-63-mercedes-wallpaper-98e66c6a0f7c77d99ed0e9b2b2e91b20.jpg") no-repeat center center/cover;
    background-attachment: fixed;
}

.bg-image-garage {
    background: url('https://c1.wallpaperflare.com/path/508/250/386/porsche-oldtimer-mühlheim-mulhouse-c28063a785162686560b46cc3b93f811.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
}

.container-style {
    color: #4e0076;
}

.form-lable-style {
    color: rgb(218,165,32);
    background: rgb(78, 0, 118, 0.9);
}

